*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --c1: #ffffff;
    --c2: #707070;
    --c3: #7814ff;
    --c4: #0000ff;
}

body{
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

div{
    border: 1px solid black;
    width: 100px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alocado{
    background-color: var(--c4);
}